<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Form</title>
  <link rel="stylesheet" href="FormCSS.css">
</head>
<body>
<header>
  <nav class="site-nav">
    <a href="/">Home</a>
    <a href="/form">Contact Form</a>
    <a href="/resume">Resume</a>
    <a href="/admin">Admin Page</a>
    <a href="https://linkedin.com/in/adrien-bertrand-b8614738a">LinkedIn</a>
    <a href="https://github.com/Zeta1313">Github</a>
  </nav>
</header>
<div class = "main-content">
    <div class="form-container">
      <h1>Submission sucessful!</h1>
      <h2>We'll get back to you shortly</h2>
        <table id = "order-table" class ="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Company</th>
                    <th>LinkedIn</th>
                    <th>Email</th>
                    <th>Meeting</th>
                    <th>Details</th>
                    <th>Message</th>
                    <th>Format</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                  <tr>
                    <td><%= forminput.fname %> <%= forminput.lname %></td>
                    <td><%= forminput.title %></td>
                    <td><%= forminput.company %></td>
                    <td><%= forminput.LN %></td>
                    <td><%= forminput.EA %></td>
                    <td><%= forminput.meeting %></td>
                    <td><%= forminput.addition %></td>
                    <td><%= forminput.message %></td>
                    <td><%= forminput.format %></td>
                    <td><%= forminput.timestamp %></td>
                  </tr>
            </tbody>
        </table>
      <form action="/" method="get">
        <button type="submit">Return to Main Page</button>
      </form>
    </div>
</div>
</body>
</html>